.article__introduction{
  font-family: var(--font-sans-serif);
  font-size: var(--small--text);
  font-weight: 300;
}

.article__introduction-name{
  font-family: var(--font-sans-serif);
  font-size: var(--small--text);
  font-weight: 400;
  padding-bottom: 30px;
}

.article__subheadings{
  font-family: var(--font-sans-serif);
  color: var(--dark--rose--text);
  font-size: var(--heading-2);
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.article__text{
  font-family: var(--font-serif);
  color: var(--dark--rose--text);
  font-weight: 400;
  font-size: var(--body-articles);
  margin-bottom: 2rem;
}

.article__title {
  font-size: var(--heading-1);
  font-family: var(--font-sans-serif);
  font-weight: normal;
  color: var(--dark--rose--text);
  padding-top: 30px;
}

.article__img-legend{
  font-size: var(--small--text);
  font-weight: lighter;
  color: var(--grey--image--caption);
  text-align: center;
}

.article__img{
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.article__video{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.article__link{
color: var(--dark--rose--text);
}