.card {
    margin-top: 150px;
    position: relative;
  }
  
  .card__img {
    top: 0;
    left: 0;
    right: 0;
    height:250px;
    z-index: -1;
    width: 100%;
  }

  .card__caption {
    position: absolute;
    padding: 0 var(--space3x) var(--space3x) var(--space3x);
    margin: -60px 0 0 var(--space4x);
    z-index: 1;
    line-height: 1.3;
    border-radius: 10px;
    background-color: var(--white--text);
    border: 0.1rem solid var(--dark--rose--text);
  }
  
  /* Même technique utilisé pour "hero" => flex sert à aligner le contenu en bas de l'élément et laisse la possibilité au texte de s'étendre vers le haut. */
  .card__title {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: var(--card-title);
    align-items: flex-end;
    display: flex;
  }
  
  .card__title-link {
    color: var(--dark--rose--text);
    text-decoration: none;
    display: block;
  }
  
  .card__excerpt {
    color: var(--dark--rose--text);
    font-size: var(--body-card);
    font-family: var(--font-sans-serif);
    font-weight: lighter;
  }

  .card__link{
    font-size: var(--b-u-t-t-o-n);
    font-family: var(--font-sans-serif);
    color: var(--dark--rose--text);
  }