.a-propos_avatar-presentation{
    text-align: center;
    }

.a-propos__avatar-presentation{
    text-align: center;
    padding-bottom: px;
    }
    
    .a-propos__avatar   {
        width : 200px;
        height : 200px;
        display: flex;
        margin: auto;
    }
    